.container {
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  align-items: center;

  .label {
    font-size: vars.$font-size-h2;
  }

  .action {
    margin-left: auto;
    cursor: pointer;
  }
}
