.container {
  background-color: #00000000;
  color: white;
  font-size: vars.$icon-size-large;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.default {
  background-color: vars.$color-primary;
  padding: vars.$spacing-primary;
  border-radius: vars.$roundness;
}

.icon {
  aspect-ratio: 1;
}
