.container {
  flex-direction: row;
  gap: vars.$spacing-secondary;
  background-color: vars.$color-surface;
  max-width: fit-content;
  border-radius: vars.$roundness;
  padding: vars.$spacing-primary;

  .label {
    font-size: vars.$font-size-h1;
  }

  .value {
    font-size: vars.$font-size-h1;
  }
}
