.container {
  border-radius: vars.$roundness;
  background-image: (
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f6ed149-c2f1-45b1-876c-0c26ccf7c2e2/dfwy0mp-31ebdf3f-c012-468f-bb1c-f507b4e8efad.jpg/v1/fill/w_1194,h_669,q_70,strp/fantasy_pixel_background_by_artificialhub_dfwy0mp-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzE4IiwicGF0aCI6IlwvZlwvMmY2ZWQxNDktYzJmMS00NWIxLTg3NmMtMGMyNmNjZjdjMmUyXC9kZnd5MG1wLTMxZWJkZjNmLWMwMTItNDY4Zi1iYjFjLWY1MDdiNGU4ZWZhZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2j6FV4qeHjr0EqHaUK6axwK36Zt5IxLQAxWuXzB0Kr0")
  );
  background-size: cover;
}
