//Fonts
$font-size-display: 2rem;
$font-size-header: 1.5rem;
$font-size-h1: 1.2rem;
$font-size-h2: 1.1rem;
$font-size-h3: 0.9rem;
$font-size-body: 0.8rem;
$font-size-body2: 0.7rem;
$font-size-button: 2rem;

// Icons
$icon-size-extraLarge: 1.5rem;
$icon-size-large: 1.2rem;
$icon-size-medium: 1rem;
$icon-size-small: 0.8rem;

// Colors.
$color-background: #111111;
$color-background-translucent: #111111cc;
$color-surface: #1a2028;
$color-surface2: #222a35;
$color-surface3: #28323f;

$color-primary: #005a9c;
$color-outline: #2b3542;
$color-text-primary: rgb(255 255 255 / 90%);
$color-text-secondary: rgb(255 255 255 / 70%);
$color-text-tertiary: rgb(255 255 255 / 40%);
$color-danger: #d60a0a;
$color-warning: #e6c108;
$color-red: #a72608;
$color-success: #178f1f;
$color-grey: #888888;
$color-white: #ffffff;
$color-link: #9393ff;

// Layout
$roundness: 6px;
$spacing-primary: 0.75rem;
$spacing-secondary: 0.5rem;
$spacing-tertiary: 0.25rem;
$layout-header-height: $spacing-primary * 4.5;
$layout-tabbar-height: $spacing-primary * 2.25;
$layout-navbar-width: 250px;

// Breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra: 1100px;

// Misc
$active-brightness-filter: 1.1;
$disabled-brightness-filter: 0.7;
$shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
$shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.2);
