.backButton {
  cursor: pointer;
  position: absolute;
  left: vars.$spacing-primary;
  top: vars.$spacing-primary;
  justify-content: center;
  align-items: center;
  font-size: vars.$font-size-display;
  width: vars.$spacing-primary;
  height: vars.$spacing-primary;
  user-select: none;
}

.title {
  text-align: center;
  font-size: 50px;
}

.section {
  width: min(100%, 600px);
  gap: vars.$spacing-tertiary;
}
