.container {
  height: 100%;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  padding: vars.$spacing-primary * 2;
  gap: vars.$spacing-primary;

  .title {
    font-size: 50px;
  }

  .inventory {
    background-color: #be865c;

    width: 70%;
    flex: 1;
    padding: vars.$spacing-primary;
    gap: vars.$spacing-primary;
    border: 2px solid #6e4c30;

    .inventoryHeader {
      font-size: vars.$font-size-h1;
    }

    .inventoryItems {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      padding: vars.$spacing-primary;

      .inventoryItem {
        flex: 1;
        min-width: 50px;
        aspect-ratio: 1;
        background-color: #f6ca9c;
        border-radius: vars.$roundness;
        padding: vars.$spacing-tertiary;
      }
    }
  }

  .button {
    justify-content: center;
    align-items: center;
    border-radius: vars.$roundness;
    font-size: vars.$font-size-display;
    cursor: pointer;
    padding: vars.$spacing-primary;

    &:active {
      scale: 0.9;
    }
  }
}
