.container {
  background-color: vars.$color-surface;
  height: 50px;
  border-radius: vars.$roundness;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  justify-content: flex-end;

  .option {
    flex: 1;
    font-size: vars.$font-size-h2;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .optionActive {
    background-color: vars.$color-primary;
  }

  .knob {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: vars.$roundness;
  }

  .knobActive {
    margin-left: auto;
    background-color: vars.$color-primary;

    animation: activate 0.25s linear forwards;

    @keyframes activate {
      0% {
        left: 0;
      }
      100% {
        left: 33%;
      }
    }
  }

  .knobInactive {
    margin-right: auto;
    background-color: vars.$color-surface3;

    animation: deactivate 0.25s linear forwards;

    @keyframes deactivate {
      0% {
        left: 33%;
      }
      100% {
        left: 0;
      }
    }
  }
}
