.container {
  gap: vars.$spacing-secondary;

  .header {
    flex-direction: row;

    .headerLabel {
      flex: 1;
      font-size: vars.$font-size-h2;
      margin-left: 2px;
    }

    .headerButton {
      align-self: flex-end;
      margin-right: 2px;
    }
  }

  .options {
    gap: vars.$spacing-secondary;
    width: 100%;
    align-items: center;
  }
}
